<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Details? :)</h1>
      <p *ngIf="showParagraph">Secret Password: Tuna</p>
      <button class="btn btn-primary" (click)="onButtonClick()" *ngIf="!showParagraph; else showCloseButton">Show Details</button>
      <ng-template #showCloseButton>
        <button class="btn btn-primary" (click)="onButtonClick()">Hide Details</button>
      </ng-template>
      <hr>
      <p *ngFor="let click of buttonClicks; let i = index"
        [ngClass]="{'paragraph' : i > 3}"
        [ngStyle]="{'color' : i > 3 ? 'white' : 'black'}">
        Button Click #{{ click }} recorded at {{ timeStamps[i] }}
      </p>
    </div>
  </div>
</div>
